<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h2>Welcome to AgenticAI Chat-danielLim</h2>
    <button onclick="aigent()">Open Google</button>

<script>
function aigent(){
    window.open("https://www.google.com/", "_blank");
}
</script>
       <form action="/main" method="post">
        <input type = "submit" value="Main">
    </form>
    </div>
</body>




